<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Mystira-Internal"
         value="https://pkgs.dev.azure.com/{org}/{project}/_packaging/Mystira-Internal/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Mystira-Internal>
      <add key="Username" value="{username}" />
      <add key="ClearTextPassword" value="{pat}" />
    </Mystira-Internal>
  </packageSourceCredentials>
</configuration>
