# Dependencies
node_modules

# Build output
dist

# Development files
.git
.gitignore
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# Testing
coverage
cypress/videos
cypress/screenshots

# Documentation
*.md
docs

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# CI/CD
.github
